.hover-effect-button:hover {
    transform: scale(1.04); /* Scale up the button */
    background-color: #531E76 !important;
    border-color: #531E76 !important;
}

.post-textarea::placeholder {
  color: #bdb7b5 !important;
  font-size: 20px;
}

.comment-textarea::placeholder {
  color: #bdb7b5 !important;
  font-size: 17px;
}

body {
  overflow-anchor: none;
}
