/** 
 * Only enable animations for devices with relatively large viewport
 * widths and for users who haven't set the "prefers reduced motion" setting.
 */
@media (prefers-reduced-motion: no-preference) and (min-width: 640px) {
  .fade-in {
    transition-duration: 500ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
 
@media (prefers-reduced-motion: no-preference) and (min-width: 640px) {
  .fade-in-initial {
    transform: translateX(33%) !important;
    opacity: 0.6 !important;
  }
}
